.container{

    background-color: aqua;
    
}
.box1{
    background-color: antiquewhite;
    text-align: center;
}
.box2{
background-color: bisque;
}
.box3{
    background-color: rgb(20, 173, 53);
}

.box4{
    background-color: rgb(8, 67, 120);
}

.box5{
    background-color: rgb(8, 153, 105);
}
.container2{
    background-color: blueviolet;
}